@font-face {
  font-family: 'Graphik-BlackItalic';
  src: url('../fonts/Graphik-BlackItalic.eot');
  src: url('../fonts/Graphik-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-BlackItalic.svg#Graphik-BlackItalic') format('svg'),
       url('../fonts/Graphik-BlackItalic.ttf') format('truetype'),
       url('../fonts/Graphik-BlackItalic.woff') format('woff'),
       url('../fonts/Graphik-BlackItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Bold';
  src: url('../fonts/Graphik-Bold.eot');
  src: url('../fonts/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Bold.svg#Graphik-Bold') format('svg'),
       url('../fonts/Graphik-Bold.ttf') format('truetype'),
       url('../fonts/Graphik-Bold.woff') format('woff'),
       url('../fonts/Graphik-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-BoldItalic';
  src: url('../fonts/Graphik-BoldItalic.eot');
  src: url('../fonts/Graphik-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-BoldItalic.svg#Graphik-BoldItalic') format('svg'),
       url('../fonts/Graphik-BoldItalic.ttf') format('truetype'),
       url('../fonts/Graphik-BoldItalic.woff') format('woff'),
       url('../fonts/Graphik-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Extralight';
  src: url('../fonts/Graphik-Extralight.eot');
  src: url('../fonts/Graphik-Extralight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Extralight.svg#Graphik-Extralight') format('svg'),
       url('../fonts/Graphik-Extralight.ttf') format('truetype'),
       url('../fonts/Graphik-Extralight.woff') format('woff'),
       url('../fonts/Graphik-Extralight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-ExtralightItalic';
  src: url('../fonts/Graphik-ExtralightItalic.eot');
  src: url('../fonts/Graphik-ExtralightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-ExtralightItalic.svg#Graphik-ExtralightItalic') format('svg'),
       url('../fonts/Graphik-ExtralightItalic.ttf') format('truetype'),
       url('../fonts/Graphik-ExtralightItalic.woff') format('woff'),
       url('../fonts/Graphik-ExtralightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Light';
  src: url('../fonts/Graphik-Light.eot');
  src: url('../fonts/Graphik-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Light.svg#Graphik-Light') format('svg'),
       url('../fonts/Graphik-Light.ttf') format('truetype'),
       url('../fonts/Graphik-Light.woff') format('woff'),
       url('../fonts/Graphik-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Graphik-LightItalic';
  src: url('../fonts/Graphik-LightItalic.eot');
  src: url('../fonts/Graphik-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-LightItalic.svg#Graphik-LightItalic') format('svg'),
       url('../fonts/Graphik-LightItalic.ttf') format('truetype'),
       url('../fonts/Graphik-LightItalic.woff') format('woff'),
       url('../fonts/Graphik-LightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Medium';
  src: url('../fonts/Graphik-Medium.eot');
  src: url('../fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Medium.svg#Graphik-Medium') format('svg'),
       url('../fonts/Graphik-Medium.ttf') format('truetype'),
       url('../fonts/Graphik-Medium.woff') format('woff'),
       url('../fonts/Graphik-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-MediumItalic';
  src: url('../fonts/Graphik-MediumItalic.eot');
  src: url('../fonts/Graphik-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-MediumItalic.svg#Graphik-MediumItalic') format('svg'),
       url('../fonts/Graphik-MediumItalic.ttf') format('truetype'),
       url('../fonts/Graphik-MediumItalic.woff') format('woff'),
       url('../fonts/Graphik-MediumItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Regular';
  src: url('../fonts/Graphik-Regular.eot');
  src: url('../fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Regular.svg#Graphik-Regular') format('svg'),
       url('../fonts/Graphik-Regular.ttf') format('truetype'),
       url('../fonts/Graphik-Regular.woff') format('woff'),
       url('../fonts/Graphik-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-RegularItalic';
  src: url('../fonts/Graphik-RegularItalic.eot');
  src: url('../fonts/Graphik-RegularItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-RegularItalic.svg#Graphik-RegularItalic') format('svg'),
       url('../fonts/Graphik-RegularItalic.ttf') format('truetype'),
       url('../fonts/Graphik-RegularItalic.woff') format('woff'),
       url('../fonts/Graphik-RegularItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Semibold';
  src: url('../fonts/Graphik-Semibold.eot');
  src: url('../fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Semibold.svg#Graphik-Semibold') format('svg'),
       url('../fonts/Graphik-Semibold.ttf') format('truetype'),
       url('../fonts/Graphik-Semibold.woff') format('woff'),
       url('../fonts/Graphik-Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-SemiboldItalic';
  src: url('../fonts/Graphik-SemiboldItalic.eot');
  src: url('../fonts/Graphik-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-SemiboldItalic.svg#Graphik-SemiboldItalic') format('svg'),
       url('../fonts/Graphik-SemiboldItalic.ttf') format('truetype'),
       url('../fonts/Graphik-SemiboldItalic.woff') format('woff'),
       url('../fonts/Graphik-SemiboldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Super';
  src: url('../fonts/Graphik-Super.eot');
  src: url('../fonts/Graphik-Super.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Super.svg#Graphik-Super') format('svg'),
       url('../fonts/Graphik-Super.ttf') format('truetype'),
       url('../fonts/Graphik-Super.woff') format('woff'),
       url('../fonts/Graphik-Super.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-SuperItalic';
  src: url('../fonts/Graphik-SuperItalic.eot');
  src: url('../fonts/Graphik-SuperItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-SuperItalic.svg#Graphik-SuperItalic') format('svg'),
       url('../fonts/Graphik-SuperItalic.ttf') format('truetype'),
       url('../fonts/Graphik-SuperItalic.woff') format('woff'),
       url('../fonts/Graphik-SuperItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Thin';
  src: url('../fonts/Graphik-Thin.eot');
  src: url('../fonts/Graphik-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Thin.svg#Graphik-Thin') format('svg'),
       url('../fonts/Graphik-Thin.ttf') format('truetype'),
       url('../fonts/Graphik-Thin.woff') format('woff'),
       url('../fonts/Graphik-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-ThinItalic';
  src: url('../fonts/Graphik-ThinItalic.eot');
  src: url('../fonts/Graphik-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-ThinItalic.svg#Graphik-ThinItalic') format('svg'),
       url('../fonts/Graphik-ThinItalic.ttf') format('truetype'),
       url('../fonts/Graphik-ThinItalic.woff') format('woff'),
       url('../fonts/Graphik-ThinItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Black';
  src: url('../fonts/Graphik-Black.eot');
  src: url('../fonts/Graphik-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Black.svg#Graphik-Black') format('svg'),
       url('../fonts/Graphik-Black.ttf') format('truetype'),
       url('../fonts/Graphik-Black.woff') format('woff'),
       url('../fonts/Graphik-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}